.foodHolder{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    color: white;

}

.foodItem{
    display: flex;
    flex-direction: column;
    max-width: 230px;
    padding: 10px;
    margin: 5px;
    align-items: center;
    border-radius: 15px;
    background-color: #3f3f3f;
}

.nameDesc{
    display: flex;
    flex-direction: column;
    font-size: large;
}

.price{
    color: #CB202D;
}

img{
    border-radius: 15px;

}

img .nodisplay{
    visibility: hidden;
}
