.form {
    /* text-align: right; */
    display: flex;
    /* margin: 5px; */
    /* align-self: center; */
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #CB202D;
    border: 1px solid #cf1f37;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
    margin: 5px;
    /* align-self: flex-start; */
  }
  
  .form button:hover,
  .form button:active {
    background-color: #dd1032;
    border-color: #c20323;
  }
